%h1 New Kitchen

= form_for @kitchen, html: {class: "form-horizontal"} do |f|
  - if @kitchen.errors.any?
    .error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        -@post.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name
  .control-group  
    = f.label :description, class: "control-label"
    .controls
      = f.text_area :description, rows: 5
  .control-group
    = f.label :auth_code, class: "control-label"
    .controls
      = f.text_field :auth_code
  .control-group
    .controls
      = f.submit class: 'btn btn-primary'