%h1= @kitchen.name

.new-kitchen-btn= link_to "+Food", new_kitchen_food_path(@kitchen), remote: true, class: "btn btn-success" 

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Amount Left
      %th Date Added
      %th Perishibility
      %th Category
      %th Actions
  %tbody
    - @kitchen.foods.each do |food|
      %tr{id: "food-#{food.id}"}
        %td= link_to food.name, food
        %td= food.left
        %td= food.added
        %td= food.perishibility
        %td= food.category
        %td
          = link_to "Edit", edit_food_path(food), remote: true
          = link_to "Destroy", food_path(food), remote: true, method: :delete