%html
  %head
    %title Kitchen Tracker
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'layouts/header'
    .container-fluid
      .row-fluid
        .span3 
          %h2 Sidebar
          %p Lorem ipsum Dolore proident incididunt sit ut minim ea mollit aute anim ut dolore.
        .span9= yield